# Archivos compilados
*.class

# Carpetas de compilación y distribución de NetBeans
build/
nbbuild/
dist/
nbdist/

# Configuraciones privadas de NetBeans
nbproject/private/
nbproject/project.properties
.nb-gradle/

# Archivos de datos del usuario local (¡MUY IMPORTANTE!)
*.properties
mi_perfil.properties
mis_salas.properties

# Caché de imágenes generada por FrmChat.java
cache_chat/